<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'form.button_restore' | translate }}</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    @if (loading) {
    <div class="text-center primary-text">
      <i class="fa fa-fw fa-cog fa-spin" style="font-size: 75px"></i>
    </div>
    } @if (!loading) {
    <div class="text-center mb-3">
      <i class="fas fa-fw fa-history primary-text" style="font-size: 75px"></i>
    </div>
    <p class="text-center mb-3">{{ 'config.restore.title_restore_homebridge_backup' | translate }}</p>
    @if (backupList && backupList.length) {
    <ul class="list-group list-group-box">
      @for (backup of backupList; track backup) {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ backup.timestamp | date:'medium' }}
        <button
          (click)="restore(backup.id)"
          class="btn btn-primary m-0 ml-3"
          [attr.aria-label]="'config.restore.copy_to_editor' | translate"
        >
          <i class="fas fa-fw fa-arrow-right"></i>
        </button>
      </li>
      }
    </ul>
    } @if (!backupList || !backupList.length) {
    <p class="text-center mb-0">{{ 'config.restore.no_backups' | translate }}</p>
    } }
  </div>
  <div class="modal-footer justify-content-between">
    <div class="text-left">
      @if (!loading && backupList.length) {
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
      }
    </div>
    <div class="text-center">
      @if (loading || (!loading && !backupList.length)) {
      <button
        type="button"
        class="btn btn-elegant"
        data-dismiss="modal"
        (click)="$activeModal.dismiss('Dismiss')"
        [attr.aria-label]="'form.button_close' | translate"
      >
        {{ 'form.button_close' | translate }}
      </button>
      }
    </div>
    <div class="text-right">
      @if (!loading && backupList.length) {
      <button
        type="button"
        class="btn btn-danger mr-auto"
        (click)="deleteAllBackups()"
        [attr.aria-label]="'form.button_remove' | translate"
      >
        {{ 'form.button_remove' | translate }}
      </button>
      }
    </div>
  </div>
</div>
