.btn {
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  @media (max-width: 575px) {
    font-size: 0.8rem;
  }
}

/* Prevent outlines around the close button when a modal opens */
button {
  &.close {
    &:focus {
      outline: none;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.btn.disabled,
.btn:disabled {
  background: #333333 !important;
}
