@use 'sass:color';

.btn {
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-transform: uppercase;

  @media (max-width: 575px) {
    font-size: 0.8rem;
  }
}

/* Prevent outlines around the close button when a modal opens */
.btn-close:focus {
  outline: none;
  box-shadow: none !important;
}

.dropdown-toggle::after {
  display: none;
}

.btn.disabled,
.btn:disabled {
  background-color: #333333;
  color: #eeeeee;
  border-color: #333333;
}

.btn-elegant {
  color: #ffffff;
  background-color: #333333;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: color.adjust(#333333, $lightness: -5%) !important;
    border-color: color.adjust(#333333, $lightness: -5%) !important;
    transition: background-color 0.25s;
  }
}

.btn-control {
  color: #000000;
  background-color: #f4f4f4;
  border-color: #d4d4d4 !important;

  &:hover,
  &:focus {
    color: #000000;
    background-color: color.adjust(#f4f4f4, $lightness: -2%) !important;
    border-color: #d4d4d4 !important;
    transition: background-color 0.25s;
  }
}

.btn-danger {
  background-color: #d32f2f;
  border-color: #d32f2f;

  &:hover,
  &:focus {
    background-color: color.adjust(#d32f2f, $lightness: -5%) !important;
    border-color: color.adjust(#d32f2f, $lightness: -5%) !important;
    transition: background-color 0.25s;
  }
}
