<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Homebridge Google Smart Home</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    @if (!$settings.env.enableAccessories) {
    <div class="alert alert-warning" role="alert">
      <p
        class="mb-0"
        [innerHTML]="'accessories.message_must_use_insecure_mode' | translate: { link: linkInsecure }"
      ></p>
    </div>
    } @if ($settings.env.enableAccessories) {
    <p>{{ 'plugins.settings.custom.homebridge-gsh.message_about' | translate }}</p>
    @if (!gshConfig.token) {
    <p>{{ 'plugins.settings.custom.homebridge-gsh.message_account_link_required' | translate }}</p>
    } @if (!gshConfig.token) {
    <div class="text-center">
      <button class="btn btn-primary btn-lg" (click)="linkAccount()">
        {{ 'plugins.settings.custom.homebridge-gsh.label_link_account' | translate }}
      </button>
    </div>
    } @if (gshConfig.token) {
    <div class="text-center mt-1">
      <i class="fas fa-fw fa-check-circle primary-text" style="font-size: 50px"></i>
      <h4 class="mt-2">
        {{ linkType | titlecase }} {{ 'plugins.settings.custom.homebridge-gsh.label_account_linked' | translate }}
      </h4>
      @if (justLinked) {
      <div class="mt-3">
        <p class="primary-text">
          <strong
            >{{ 'plugins.settings.custom.homebridge-gsh.message_homebridge_restart_required' | translate }}</strong
          >
        </p>
      </div>
      }
    </div>
    } @if (gshConfig && gshConfig.token) {
    <div class="mt-3">
      @if (schema.footerDisplay) {
      <markdown class="plugin-md" [data]="schema.footerDisplay"></markdown>
      }
    </div>
    <div class="card p-2 pt-3 mt-4">
      <app-schema-form [configSchema]="schema" [(data)]="gshConfig"></app-schema-form>
    </div>
    } }
  </div>

  <div class="modal-footer">
    @if (gshConfig.token) {
    <button type="button" class="btn btn-elegant mr-auto" data-dismiss="modal" (click)="unlinkAccount()">
      {{ 'plugins.settings.custom.homebridge-gsh.label_unlink_account' | translate }}
    </button>
    }
    <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="close()">
      {{ 'form.button_close' | translate }}
    </button>
    @if (gshConfig.token) {
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveAndClose()">
      {{ 'form.button_save' | translate }}
    </button>
    }
  </div>
</div>
