<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" [innerText]="service.customName || service.serviceName"></h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      [attr.aria-label]="'form.button_close' | translate"
      (click)="$activeModal.dismiss('Dismiss')"
    ></button>
  </div>
  <div class="modal-body text-center px-5">
    <div
      class="humidity-drop mb-3"
      [ngClass]="{
        'dehumidifying': service.values.CurrentHumidifierDehumidifierState === 3 && service.values.Active === 1,
        'humidifying': service.values.CurrentHumidifierDehumidifierState === 2 && service.values.Active === 1,
        'no-current-state': service.values.CurrentHumidifierDehumidifierState === 1 && service.values.Active === 1
      }"
    >
      <div class="humidity-drop-text" [innerText]="(service.values.CurrentRelativeHumidity) + '%'"></div>
    </div>

    <div
      class="btn-group-vertical d-flex justify-content-center mb-0 p-0"
      role="group"
      aria-label="Humidifier Dehumidifier Mode Control"
    >
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetMode(0); $event.target.blur()">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetMode === 0, 'fa-blank': targetMode !== 0 }"
          ></i>
        </div>
        {{ 'accessories.control.auto' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetMode(1); $event.target.blur()">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetMode === 1, 'fa-blank': targetMode !== 1 }"
          ></i>
        </div>
        {{ 'accessories.control.humidifying' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetMode(2); $event.target.blur()">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetMode === 2, 'fa-blank': targetMode !== 2 }"
          ></i>
        </div>
        {{ 'accessories.control.dehumidifying' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
      <button type="button" class="btn mb-0 mx-0 p-3 btn-control" (click)="setTargetMode('off'); $event.target.blur()">
        <div class="float-start primary-text">
          <i
            class="fas fa-fw fa-xl"
            [ngClass]="{ 'fa-check-circle': targetMode === 'off', 'fa-blank': targetMode !== 'off' }"
          ></i>
        </div>
        {{ 'accessories.control.off' | translate }}
        <div class="float-end"><i class="fas fa-fw fa-xl fa-blank"></i></div>
      </button>
    </div>

    @if (service.values.Active === 1 && RelativeHumidityHumidifierThreshold && RelativeHumidityDehumidifierThreshold) {
    @switch (targetMode) { @case (0) {
    <h6>{{ 'accessories.control.target' | translate }}: {{ autoHumidity[0] }}% - {{ autoHumidity[1] }}%</h6>
    <nouislider
      [min]="RelativeHumidityHumidifierThreshold.minValue"
      [max]="RelativeHumidityDehumidifierThreshold.maxValue"
      [step]="RelativeHumidityDehumidifierThreshold.minStep"
      [(ngModel)]="autoHumidity"
      (ngModelChange)="onHumidityStateChange()"
    >
    </nouislider>
    } @case (1) {
    <h6>{{ 'accessories.control.target' | translate }}: {{ targetHumidifierHumidity }}%</h6>
    <nouislider
      [min]="RelativeHumidityHumidifierThreshold.minValue"
      [max]="RelativeHumidityHumidifierThreshold.maxValue"
      [step]="RelativeHumidityHumidifierThreshold.minStep"
      [(ngModel)]="targetHumidifierHumidity"
      (ngModelChange)="onHumidityStateChange()"
    >
    </nouislider>
    } @case (2) {
    <h6>{{ 'accessories.control.target' | translate }}: {{ targetDehumidifierHumidity }}%</h6>
    <nouislider
      [min]="RelativeHumidityDehumidifierThreshold.minValue"
      [max]="RelativeHumidityDehumidifierThreshold.maxValue"
      [step]="RelativeHumidityDehumidifierThreshold.minStep"
      [(ngModel)]="targetDehumidifierHumidity"
      (ngModelChange)="onHumidityStateChange()"
    >
    </nouislider>
    } } }
  </div>
  <div class="modal-footer"></div>
</div>
