@if ($settings.env.enableAccessories) {
<div class="row mb-3">
  <div class="col-sm-6">
    <h3 class="primary-text m-0">{{ 'accessories.title_accessories' | translate }}</h3>
  </div>
  <div class="col-sm-6 text-right d-none d-sm-block">
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-elegant status-button my-0"
        [hidden]="isMobile"
        (click)="addRoom()"
        container="body"
        placement="bottom"
        openDelay="150"
        triggers="hover"
        [ngbTooltip]="'accessories.button_add_room' | translate"
        [attr.aria-label]="'accessories.button_add_room' | translate"
      >
        <i class="fas fa-fw fa-folder-plus"></i>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-elegant status-button my-0"
        [hidden]="isMobile"
        (click)="hideHidden = !hideHidden"
        container="body"
        placement="bottom"
        openDelay="150"
        triggers="hover"
        [ngbTooltip]="hideHidden ? ('accessories.button_hidden_show' | translate) : ('accessories.button_hidden_hide' | translate)"
        [attr.aria-label]="hideHidden ? ('accessories.button_hidden_show' | translate) : ('accessories.button_hidden_hide' | translate)"
      >
        <i class="fas fa-fw" [ngClass]="hideHidden ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-elegant status-button my-0"
        [disabled]="!isMobile"
        (click)="toggleLayoutLock()"
        container="body"
        placement="bottom"
        openDelay="150"
        triggers="hover"
        [ngbTooltip]="'form.button_unlock' | translate"
        [attr.aria-label]="'form.button_unlock' | translate"
      >
        <i class="fas fa-fw fa-unlock"></i>
      </button>
      <button
        type="button"
        class="btn btn-elegant status-button my-0"
        [disabled]="isMobile"
        (click)="toggleLayoutLock()"
        container="body"
        placement="bottom"
        openDelay="150"
        triggers="hover"
        [ngbTooltip]="'form.button_lock' | translate"
        [attr.aria-label]="'form.button_lock' | translate"
      >
        <i class="fas fa-fw fa-lock"></i>
      </button>
    </div>
    <button
      type="button"
      class="btn btn-elegant status-button my-0 mr-0"
      (click)="openSupport()"
      [attr.aria-label]="'support.title' | translate"
    >
      <i class="fa fa-fw fa-question-circle-o"></i>
    </button>
  </div>
</div>
<div [dragula]="'rooms-bag'" [(dragulaModel)]="$accessories.rooms">
  @for (room of $accessories.rooms; track room) { @if (!isMobile || room.services.length) {
  <div class="row">
    <div class="col-md-12">
      <h5 class="primary-text drag-handle room-title m-0 mb-1 mb-sm-0" [ngClass]="{ 'cursor-move': !isMobile }">
        {{ room.name === 'Default Room' ? ('accessories.control.default_room' | translate) : room.name }}
      </h5>
    </div>
  </div>
  }
  <div class="row mb-4">
    @if (room.services.length) {
    <div
      class="col-md-12 d-flex flex-wrap justify-content-between noselect services-bag"
      [dragula]="'services-bag'"
      [(dragulaModel)]="room.services"
    >
      @for (service of room.services; track service) { @if (!hideHidden || !service.hidden) {
      <div class="accessory-item accessory-tab">
        <app-accessory-tile [service]="service"></app-accessory-tile>
      </div>
      } }
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
      <div style="height: 0 !important" class="accessory-box invisible py-0 my-0"></div>
    </div>
    } @if (!room.services.length && !isMobile) {
    <div class="col-md-12 d-flex flex-wrap noselect" [dragula]="'services-bag'" [(dragulaModel)]="room.services">
      <app-drag-here-placeholder class="no-drag"></app-drag-here-placeholder>
    </div>
    }
  </div>
  }
</div>
} @if (!$settings.env.enableAccessories) {
<div class="row">
  <div class="col-12">
    <h3 class="primary-text m-0 mb-3">{{ 'accessories.title_accessories' | translate }}</h3>
  </div>
  <div class="col-12 text-center">
    <div class="alert alert-warning p-4" role="alert">
      <h5 class="mb-3 mt-0">{{ 'accessories.control_disabled' | translate }}</h5>
      <p
        class="mb-0"
        [innerHTML]="'accessories.message_must_use_insecure_mode' | translate: { link: linkInsecure }"
      ></p>
      @if ($auth.user.admin) {
      <p class="mt-3 mb-0">{{ 'accessories.settings_link' | translate }}</p>
      }
    </div>
  </div>
</div>
}
